# ==========================
# Historiales de shell
# ==========================
.zsh_history
.fish_history

# ==========================
# Cachés
# ==========================
.cache/
.cache/**

# ==========================
# Miniaturas
# ==========================
.thumbnails/
.thumbnails/**

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Archivos temporales
# ==========================
*.tmp
*.bak
*.swp
*.swo
*~

# ==========================
# Variables de entorno
# ==========================
.env
.env.*

# ==========================
# Directorios de Git locales
# ==========================
.git/

# ==========================
# Metadatos de editores
# ==========================
.vscode/
.idea/

# ==========================
# Archivos de sistema
# ==========================
.DS_Store
Thumbs.db
